<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<style type="text/css">
    * {
        margin-top: 20px;
        padding-top: 10px;
    }
</style>
<body>
<!--
computed和watch之间的区别：
						1.computed能完成的功能，watch都可以完成。
						2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作。
				两个重要的小原则：
							1.所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或 组件实例对象。
							2.所有不被Vue所管理的函数（定时器的回调函数、ajax的回调函数等、Promise的回调函数），最好写成箭头函数，
								这样this的指向才是vm 或 组件实例对象。
-->
<div id="root">
    姓：<input type="text" v-model="firstName"> <br><br>
    名：<input type="text" v-model="lastName"> <br><br>
    全名：<span>{{fullName}}</span>
</div>
</body>
<script type="text/javascript">
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三',
            fullName: ''
        },
        methods: {},
        computed: {},
        watch: {
            firstName: {
                immediate: true,
                handler(newVal, oldVal) {
                    /**
                     * 这里的定时函数需要写成箭头函数
                     * 因为 定时器的普通函数的 this 不受 Vue 管理 this指的是 Window 对象
                     * 箭头函数本身不存在 this 关键字 向外找 this z找到的是 Vue 实例对象
                     */
                    setTimeout(() => {
                        //  在监视中可以开启异步任务
                        //  计算属性靠返回值维护数据 不能在计算属性的函数中开启异步任务获取对应的返回值
                        this.fullName = newVal + '-' + this.lastName;
                    }, 2000)
                }
            },
            lastName: {
                immediate: true,
                handler(newVal, oldVal) {
                    this.fullName = this.firstName + '-' + newVal;
                }
            }
        }
    });
</script>
</html>


